<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Teras Dakwah - Form Pendaftaran Kajian</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="https://daftar.terasdakwah.com/static/css/opensans-font.css">
    <link rel="stylesheet" type="text/css"
          href="https://daftar.terasdakwah.com/static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="https://daftar.terasdakwah.com/static/css/style.css"/>
</head>
<body>
<div class="page-content">
    <div class="form-v1-content">
        <div class="wizard-form">
            <form class="form-register" method="post" id="form-register">
                {{ form.csrf_token }}

                <div id="form-total">
                                    {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                  {% for error in errors %}
                      <br>
                      <div class="alert alert-danger" style="text-align: center;"> <b>""{{ error }}""</b></div>
                  {% endfor %}
                {% endif %}
                {% endwith %}

                {% with success = get_flashed_messages(category_filter=["success"]) %}
                {% if success %}
                  {% for oke in success %}
                      <br>
                      <div class="alert alert-success" style="text-align: center;"> {{ oke }}</div>
                  {% endfor %}
                {% endif %}
                {% endwith %}
                    <!-- SECTION 1 -->
                    <h2>
                        <p class="step-icon"><span>01</span></p>
                        <span class="step-text">Data Diri</span>
                    </h2>
                    <section>
                        <div class="inner">
                            <div class="wizard-header">
                                <h3 class="heading">Data Diri</h3>
                                <p>Sebelum #NGAJIAMIDA daftar dulu ya serta ikutin aturan mainnya biar tetap bisa nyaman
                                    dan aman untuk semuanya heheh</p>
                            </div>
                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>Email address</legend>
                                        <input type="text" name="email" id="email" class="form-control"
                                               pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" placeholder="example@email.com"
                                               required>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>Nama Lengkap kamu siapa sih?</legend>
                                        <input type="text" class="form-control" id="nama-lengkap" name="nama_lengkap"
                                               placeholder="Nama Lengkap" required>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>Sedang Hamil / Menyusui?
                                        </legend>
                                        <div class="form-radio">
                                            <input class="input-radio" id="hamil-radio1" type="radio" name="hamil"
                                                   value="tidak" required>
                                            <label class="label-radio" for="hamil-radio1">Belum</label>
                                        </div>
                                        <div class="form-radio">
                                            <input class="input-radio" id="hamil-radio2" type="radio" name="hamil"
                                                   value="hamil" required>
                                            <label class="label-radio" for="hamil-radio2">Hamil</label>
                                        </div>
                                        <div class="form-radio">
                                            <input class="input-radio" id="hamil-radio3" type="radio" name="hamil"
                                                   value="menyusui" required>
                                            <label class="label-radio" for="hamil-radio3">Menyusui</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>Sekarang tinggal dimana?</legend>
                                        <input type="text" class="form-control" id="tempat-tinggal"
                                               name="tempat_tinggal" placeholder="Tempat tinggal" required>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>Punya Nomer WA Aktif kan?</legend>
                                        <input type="text" class="form-control" id="wa" name="nohp"
                                               placeholder="08xxxxxxx" required>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                    </section>
                    <!-- SECTION 2 -->
                    <h2>
                        <p class="step-icon"><span>02</span></p>
                        <span class="step-text">Informasi tambahan</span>
                    </h2>
                    <section>
                        <div class="inner">
                            <div class="wizard-header">
                                <h3 class="heading">Informasi tambahan</h3>
                                <p>Jawab dengan jujur ya😊</p>
                            </div>
                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>Pekerjaan mu apa sih?</legend>
                                        <input type="text" class="form-control" id="pekerjaan" name="pekerjaaan"
                                               placeholder="Pekerjaan" required>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>Apakah sebelumnya pernah berpergian ke luar kota dalam 14 hari ini?
                                        </legend>
                                        <div class="form-radio">
                                            <input class="input-radio" id="radio-keluar-kota-1" type="radio"
                                                   name="keluar_kota" value="ya" required>
                                            <label class="label-radio" for="radio-keluar-kota-1">Ya</label>
                                        </div>
                                        <div class="form-radio">
                                            <input class="input-radio" id="radio-keluar-kota-2" type="radio"
                                                   name="keluar_kota" value="tidak" required>
                                            <label class="label-radio" for="radio-keluar-kota-2">Tidak</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>Disekitar rumahmu ada yang berstatus positif Covid-19, ODP atau PDP ga?
                                        </legend>
                                        <div class="form-radio">
                                            <input class="input-radio" id="status-lingkungan-radio1" type="radio"
                                                   name="status_lingkungan" value="ya" required>
                                            <label class="label-radio" for="status-lingkungan-radio1">Ya</label>
                                        </div>
                                        <div class="form-radio">
                                            <input class="input-radio" id="status-lingkungan-radio2" type="radio"
                                                   name="status_lingkungan" value="tidak" required>
                                            <label class="label-radio" for="status-lingkungan-radio2">Tidak</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>Dalam 14 hari ini sedang pilek, flu, demam, atau sakit tenggorokan?
                                        </legend>
                                        <div class="form-radio">
                                            <input class="input-radio" id="sakit-radio1" type="radio" name="sakit"
                                                   value="ya" required>
                                            <label class="label-radio" for="sakit-radio1">Ya</label>
                                        </div>
                                        <div class="form-radio">
                                            <input class="input-radio" id="sakit-radio2" type="radio" name="sakit"
                                                   value="tidak" required>
                                            <label class="label-radio" for="sakit-radio2">Tidak</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>Kamu ada masalah dengan indra penciumanmu?
                                        </legend>
                                        <div class="form-radio">
                                            <input class="input-radio" id="masalah-indra-penciuman-radio-1" type="radio"
                                                   name="masalah_penciuman" value="ya" required>
                                            <label class="label-radio" for="masalah-indra-penciuman-radio-1">Ya</label>
                                        </div>
                                        <div class="form-radio">
                                            <input class="input-radio" id="masalah-indra-penciuman-radio-2" type="radio"
                                                   name="masalah_penciuman" value="tidak" required>
                                            <label class="label-radio"
                                                   for="masalah-indra-penciuman-radio-2">Tidak</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- SECTION 3 -->
                    <h2>
                        <p class="step-icon"><span>03</span></p>
                        <span class="step-text">Persetujuan</span>
                    </h2>
                    <section>
                        <div class="inner">
                            <div class="wizard-header">
                                <h3 class="heading">Persetujuan</h3>
                                <p>Dengan ini, saya mengisi dengan jujur dan sadar. Adanya masalah di masa depan yang
                                    disebabkan oleh saya, saya siap bertanggungjawab</p>
                            </div>
                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>Apakah kamu siap?
                                        </legend>
                                        <div class="form-checkbox">
                                            <label class="container"><p>SIAP</p>
                                                <input type="checkbox" name="persetujuan" value="ok" required>
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-holder form-holder-2">
                                    <fieldset>
                                        <legend>Bersedia menjadi donatur rutin Teras Dakwah?
                                        </legend>
                                        <div class="form-radio">
                                            <input class="input-radio" id="donatur-radio1" type="radio" name="donatur"
                                                   value="ya" required>
                                            <label class="label-radio" for="donatur-radio1">Ya</label>
                                        </div>
                                        <div class="form-radio">
                                            <input class="input-radio" id="donatur-radio2" type="radio" name="donatur"
                                                   value="tidak" required>
                                            <label class="label-radio" for="donatur-radio2">Tidak</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="text-align: center;">© Terasdakwah - 2020</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://daftar.terasdakwah.com/static/js/jquery.steps.js"></script>
<script src="https://daftar.terasdakwah.com/static/js/main.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
